<h3>The CoderSnap Site for Users</h3>
  <p>CoderSnap is a Ruby on Rails blog application that allows users to send messages to each other that can only be read once.</p>

<h4>List of Users</h4>

<table class="table">
  <thead class="thead thead-default">
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% User.all.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>


